@model Client

@{
}

<div class="text-center">
    <h1 class="display-4">@Model.FirstName Details</h1>
</div>

<ul class="list-group mt-4">
    <li class="list-group-item">Id: @ViewData["Id"]</li>
    <li class="list-group-item">First Name: @Model.FirstName</li>
    <li class="list-group-item">Last Name: @Model.LastName</li>
    <li class="list-group-item">Last Name: @Model.Email</li>
    <li class="list-group-item">Last Name: @Model.PhoneNumber</li>
</ul>
    
